/CTR-P-BS3J/*.3ds
/CTR-P-BS3E/*.3ds
/CTR-P-BS3J/cci
/CTR-P-BS3E/cci
/CTR-P-BS3J/build
/CTR-P-BS3E/build
/CTR-P-BS3J/import_temp
/CTR-P-BS3E/import_temp
/CTR-P-BS3J/*.3ps
/CTR-P-BS3E/*.3ps
/CTR-P-BS3J/*.exe
/CTR-P-BS3E/*.exe
